<?xml version="1.0" encoding="utf-8"?>
<sqlMapConfig xmlns="http://ibatis.apache.org/dataMapper" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <settings>
    <setting useStatementNamespaces="false"/>
  </settings>

  <providers resource="providers.config"/>

  <!-- Database connection information -->
  <database>
    <provider name="sqlServer2.0"/>
    <dataSource name="Hiretail0" connectionString="Database=Database;Server=114.108.165.161\;Integrated Security=false;Initial Catalog=Hiretail0;User ID=ksg675;Password=1234"/>
  </database>

  <sqlMaps>
    <sqlMap resource="Mappers/Maps/MemberMapper.xml" />
    <sqlMap resource="Mappers/Maps/NoticeMapper.xml" />
    <sqlMap resource="Mappers/Maps/BoardMapper.xml" />
  </sqlMaps>

</sqlMapConfig>